<!-- Header -->
<div class="header bg-black h-20 flex items-center justify-between pr-5 pl-5 sticky top-0 z-50">
    <!-- Logo -->
    <a href="/" class="cursor-pointer">
        <img src="../../../assets/icon.ico" alt="Logo" class="h-20 w-auto" />
    </a>

    <!-- Nav Buttons -->
    <div class="flex items-center space-x-4">
        <span class="medical text-white cursor-pointer hover:text-green-500">Medical</span>
        <span class="healthcare text-white cursor-pointer hover:text-green-500">Healthcare</span>
        <span class="doctor text-white cursor-pointer hover:text-green-500">Doctor</span>
        <span class="login bg-green-500 hover:bg-green-700 text-white rounded py-2 px-4 cursor-pointer">Login</span>
    </div>
</div>

<!-- Hero Image -->
<div class="hero-image grid grid-cols-3 gap-4">
    <div class="col-span-1 flex items-center justify-center text-white" style="padding-left: 60px;">
        <h1 style="font-size: 60px;">We provide medical care for patients.</h1>
    </div>
    <div class="col-span-1 flex items-center justify-center text-white" style="padding-left: 60px;">
        <h2 style="font-size: 60px;">16.387+ Members</h2>
    </div>
    <div class="col-span-1 flex items-center justify-center" style="padding-left: 100px;">
        <button class="bg-green-500 hover:bg-green-700 text-white rounded py-2 px-4 cursor-pointer" >More Information</button>
    </div>
</div>

<!-- About Us -->
<div class="about-us bg-neutral-800 text-white p-8 px-20">
    <h2 class="text-2xl font-bold mb-4">About Us</h2>
    <div class="slider-container flex space-x-4 overflow-x-scroll">
        <div class="slide grid grid-cols-2 gap-4">
            <div class="col-span-1">
                <img src="../../../assets/doctor-5710150.jpg" alt="Image 1" class="w-full h-auto" />
            </div>
            <div class="col-span-1 ml-10">
                <p>As a key player in the healthcare system, we take care of the medical care of the population. We ensure that there are an adequate number of outpatient doctors and psychotherapists for the nearly eight million people in Lower Saxony. They are meant to help patients prevent and alleviate diseases, as well as treat them according to the latest medical standards. To maintain this, we particularly advocate for the interests of our members – the outpatient, authorized, or employed doctors, psychological psychotherapists, as well as child and adolescent psychotherapists in Lower Saxony – to both the government and health insurance companies.</p><br>
                <p>We advise our members on all matters related to setting up practices, managing them, and billing. We support you in ensuring the quality of your practice and provide extensive training opportunities.</p><br>
                <p>Our core task is the so-called "guarantee mandate." It states that the KVen guarantee to health insurance companies that all contract medical services are provided properly.</p>
            </div>
        </div>
    </div>
</div>


<!-- Our Team -->
<div class="team-header bg-neutral-800 text-white p-8 px-20">
    <h1 class="text-2xl font-bold mb-4">OUR TEAM</h1>
    
    <div class="team-container grid grid-cols-2 gap-4 items-center">

        <div class="team-item h-400 w-400 flex flex-col items-center p-y-[20px] pr-20">
            <img src="../../../assets/drb.jpeg" alt=" ">
            <h2 class="text-xl font-bold mb-4 mt-5">Dr. Ming</h2>
            <span>
                Dr. Ming, a seasoned neurosurgeon, specializes in personalized brain surgery care.
                Committed to understanding each patient's unique neurological needs.
                Dr. Ming tailors treatment plans and stays updated on the latest neurosurgical advancements for optimal patient care.
            </span>
        </div>

        <div class="team-item h-400 w-400 flex flex-col items-center p-[20px] pl-[20px]">
            <img src="../../../assets/drb.jpeg" alt=" ">
            <h2 class="text-xl font-bold mb-4 mt-5">Dr. Ming</h2>
            <span>
                Dr. Ming, a seasoned neurosurgeon, specializes in personalized brain surgery care.
                Committed to understanding each patient's unique neurological needs.
                Dr. Ming tailors treatment plans and stays updated on the latest neurosurgical advancements for optimal patient care.
            </span>
        </div>

        <div class="team-item h-400 w-400 flex flex-col items-center p-y-[20px] pr-20">
            <img src="../../../assets/drb.jpeg" alt=" ">
            <h2 class="text-xl font-bold mb-4 mt-5">Dr. Ming</h2>
            <span>
                Dr. Ming, a seasoned neurosurgeon, specializes in personalized brain surgery care.
                Committed to understanding each patient's unique neurological needs.
                Dr. Ming tailors treatment plans and stays updated on the latest neurosurgical advancements for optimal patient care.
            </span>
        </div>

        <div class="team-item h-400 w-400 flex flex-col items-center p-[20px] pl-[20px]">
            <img src="../../../assets/drb.jpeg" alt=" ">
            <h2 class="text-xl font-bold mb-4 mt-5">Dr. Ming</h2>
            <span>
                Dr. Ming, a seasoned neurosurgeon, specializes in personalized brain surgery care.
                Committed to understanding each patient's unique neurological needs.
                Dr. Ming tailors treatment plans and stays updated on the latest neurosurgical advancements for optimal patient care.
            </span>
        </div>
        
    </div>
</div>

<!-- Footer -->
<div class="footer grid grid-cols-1 md:grid-cols-3 gap-4 p-4 px-20 bg-black text-white">
    <!-- Address -->
    <div class="col-span-1 md:col-span-1">
        <p>123 Main Street, Cityville, Country</p>
        <p>Phone: <a href="tel:+123456789" class="hover:text-green-500">+123 456 789</a></p>
        <p>Email: <a href="mailto:info@example.com" class="hover:text-green-500">info@example.com</a></p>
    </div>

    <!-- Menu navigation -->
    <div class="col-span-1 md:col-span-1">
        <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4">
            <li><a href="#" class="hover:text-green-500">Medical</a></li>
            <li><a href="#" class="hover:text-green-500">Healthcare</a></li>
            <li><a href="#" class="hover:text-green-500">Doctor</a></li>
            <li><a href="#" class="hover:text-green-500">Contact</a></li>
        </ul>
    </div>

    <!-- Social media icons -->
    <div class="col-span-1 md:col-span-1 flex justify-end">
        <a href="#" class="mr-2"><img src="../../../assets/yt.png" alt="Youtube Icon" class="w-8 h-8"></a>
        <a href="#" class="mr-2"><img src="../../../assets/fb.png" alt="Facebook Icon" class="w-8 h-8"></a>
        <a href="#" class=""><img src="../../../assets/insta.png" alt="Instagram Icon" class="w-8 h-8"></a>
    </div>
    
</div>



